
include partials/header.pug
<h1>Demo</h1>
<p>Bienvenido a nuestra app demo <i class="fa fa-smile-o" aria-hidden="true"></i></p>
p #{htmlWebpackPlugin.options.msg}
<p>#{htmlWebpackPlugin.options.msg}</p>
include partials/footer.pug
