#Remove .html
#l|last - stop rewrite rule
#NC|nocase - match insensitive-case
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
# Rewrite user URLs
#   Input:  mensaje/NAME/
#   Output: mensaje.php?id=NAME
RewriteRule ^public/mensaje/(\w+)/?$ public/mensaje.html?id=$1
</IfModule>
#https://code.tutsplus.com/tutorials/an-in-depth-guide-to-mod_rewrite-for-apache--net-6708
