$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
$fa-font-path: "~font-awesome/fonts"; //Variable de SASS para el import
@import "~font-awesome/scss/font-awesome";
@import "./base/nivel1/base.scss";
img {
    margin-top: 270px;
    width: 100%;
    z-index: -10;
    display: flex;
    transition: 1s all ease;
    &:hover {
        transform: rotate(360deg);
        opacity: 0;
    }
}

:fullscreen a {
    display: flex
}

a {
    display: flex;
}