$font-main: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-size: 16px;
$font-color: #FFF;
$first-color: #2279D7;
$second-color: #25C9FF;
$third-color: #D24F56;
$fourth-color: #FA8086;
$error-color:  #E80808;
$alert-color: #E8E808;
$success-color: #007700;

$fa-font-path: "~font-awesome/fonts"; //Variable de SASS para el import
