html {
  font: {
    family: $font-main;
    size: $font-size;
  }
  color: $font-color;
  background: red;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
p {
  font-size: 3rem;
  text-align: center;
}
